GLFW_Generator/src/bin
GLFW_Generator/src/obj
.vs
GLFW/bin/

GLFW/obj/

GLFW_Test/bin/

GLFW_Test/obj/

packages/
src/GLFW_Generator/bin/
src/GLFW/obj/
src/GLFW_Generator/obj/
src/GLFW/bin/
examples/SharpVk/TestVulkan/obj/Release/FSharp.Core.dll
examples/SharpVk/TestVulkan/obj/
examples/SharpVk/TestVulkan/bin/
